body {
  background: #dedbdb;
  color: #892a59;
  padding: 25px;
  font-family: fantasy;
}

.museum {
  background: #ae8ca4;
  color: white;
  padding: 25px;
  font-family: fantasy;
}
.newyork {
  background: #96778d;
  color: white;
  padding: 25px;
  font-family: fantasy;
}
.washingtonDC {
  background: #765d6f;
  color: white;
  padding: 25px;
  font-family: fantasy;
}
.paris {
  background: #4d3751;
  color: white;
  padding: 25px;
  font-family: fantasy;
}
.seoul {
  background: #37233b;
  color: white; 
  padding: 25px;
}
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}